{%extends 'base.html'%}
{% load static%}

{%block title%}
About us
{%endblock%}

{%block content%}

<!-- About -->

<div class="about-us section-padding" data-scroll-index='1'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-title text-center">
        <h3>BTL(Be The Leader) is a social enterprise.</h3>
        <p>we use creative art to solve social issues affecting the youth and beyond, since 2018 BTL has been engaging young people through conversations and trainings on patinent issues surrounding various thought leaderships</p>
        <p>our focus is to build condusive and accomodative spaces for current and comming generations in the various industries and sectors</p>
        <span class="section-title-line"></span> </div>
      <div class="col-md-6 mb-50">
        <div class="section-info">
          <div class="sub-title-paragraph">
            <h4>You can conquer the world.</h4>
            <h5>If you have right set of mind and thus you can rule the world. Cheers!</h5>
            <p>I have come to accept the feeling of not knowing where I am going. And I have trained myself to love it. Because it is only when we are suspended in mid-air with no landing in sight, that we force our wings to unravel and alas begin our flight. And as we fly, we still may not know where we are going to. But the miracle is in the unfolding of the wings. You may not know where you're going, but you know that so long as you spread your wings, the winds will carry you.</p>
          </div>
          <a href="#" class="anchor-btn">Learn more about us <i class="fas fa-arrow-right pd-lt-10"></i></a> </div>
      </div>
      <div class="col-md-6 mb-50">
        <div class="section-img"> <img src="{% static 'be_the_leader/images/aboutus.jpg'%}"  height="1600px"   alt="" class="img-responsive"/> </div>
      </div>
    </div>
  </div>
</div>


<div class="testimonials">
  <div class="testimonials-overlay section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="owl-carousel owl-theme">
            <div class="testimonial-item text-center">
              <div class="icon"> <i class="fas fa-comments"></i> </div>
              <p class="m-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <div class="testimonial-author text-center">
                <h5>Rup Jakhar</h5>
                <h6>Web Desinger</h6>
              </div>
            </div>
            <div class="testimonial-item text-center">
              <div class="icon"> <i class="fas fa-comments"></i> </div>
              <p class="m-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <div class="testimonial-author text-center">
                <h5>Yogesh Singh</h5>
                <h6>Web Desinger</h6>
              </div>
            </div>
            <div class="testimonial-item text-center">
              <div class="icon"> <i class="fas fa-comments"></i> </div>
              <p class="m-auto">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <div class="testimonial-author text-center">
                <h5>Vivek Singh</h5>
                <h6>Web Desinger</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End About -->

{%endblock%}
