
{%extends "base.html"%}
{%load static%}

{%block title%}
B T L
{%endblock%}

{%block content%}

<!-- Banner Image -->

<div class="banner text-center" data-scroll-index='0'>
  <div class="banner-overlay">
    <div class="container">
      <h1 class="text-capitalize">Be The Leader</h1>
      <p>we use creative art to solve social issues affecting the youth and beyond, since 2018 BTL has been engaging young people through conversations and trainings on patinent issues surrounding various thought leaderships</p>
      <a href="#events" class="banner-btn">Events</a> </div>
  </div>
</div>


<div class="services section-padding bg-grey" data-scroll-index='2'>
  <div class="container" id="events">
    <div class="row" >

      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
        <div class="service-box bg-white text-center">
          <div class="icon"> <img src="{% static 'be_the_leader/images/bg-masthead.jpg'%}" alt=""> </div>
          <div class="icon-text">
            <h4 class="title-box">Mental health</h4>
            <p>catch is this friday as we tackle mental health issues</p>
            <h6>Friday: 4.00 pm</h6>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
        <div class="service-box bg-white text-center">
          <div class="icon"> <img src="{% static 'be_the_leader/images/bg-masthead.jpg'%}" alt=""> </div>
          <div class="icon-text">
            <h4 class="title-box">Mental health</h4>
            <p>catch is this friday as we tackle mental health issues</p>
            <h6>Friday: 4.00 pm</h6>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
        <div class="service-box bg-white text-center">
          <div class="icon"> <img src="{% static 'be_the_leader/images/bg-masthead.jpg'%}" alt=""> </div>
          <div class="icon-text">
            <h4 class="title-box">Mental health</h4>
            <p>catch is this friday as we tackle mental health issues</p>
            <h6>Friday: 4.00 pm</h6>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>




<!-- End Banner Image -->


{%endblock%}
