
{%extends "base.html"%}
{%load static%}

{%block title%}
B T L
{%endblock%}

{%block content%}

<!-- Banner Image -->

<div class="banner text-center" data-scroll-index='0'>
  <div class="banner-overlay">
    <div class="container">
      <h1 class="text-capitalize">Be Tha Leader</h1>
      <p>we use creative art to solve social issues affecting the youth and beyond, since 2018 BTL has been engaging young people through conversations and trainings on patinent issues surrounding various thought leaderships</p>
      <a href="{%url 'be_the_leader:about' %}" class="banner-btn">About us</a> </div>
  </div>
</div>

<!-- End Banner Image -->


{%endblock%}
