{%extends 'base.html'%}
{%load static%}

{%block title%}
What we do
{%endblock%}

{%block content%}
<!-- Services -->
<div class="services section-padding bg-grey" data-scroll-index='2'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-title text-center">
        <h3>We Are Your Best Friend</h3>
        <p>Let us take this walk together, it is really a challenging time to live!!</p>
        <p>lets do it togeher</p>
        <span class="section-title-line"></span> </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
        <div class="service-box bg-white text-center">
          <div class="icon"> <i class="fas fa-chart-line"></i> </div>
          <div class="icon-text">
            <h4 class="title-box">Mental Health</h4>
            <p>At BTL we always have talks and discussions on how to handle mental health rlated issues</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
        <div class="service-box bg-white text-center">
          <div class="icon"> <i class="fas fa-bullhorn "></i> </div>
          <div class="icon-text">
            <h4 class="title-box">Social events</h4>
            <p>Join us in our socil activities and lets have fun</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
        <div class="service-box bg-white text-center">
          <div class="icon"> <i class="fas fa-map-marked"></i> </div>
          <div class="icon-text">
            <h4 class="title-box">Educative Forums</h4>
            <p>Lets learn all aspects of life; Financial planning, Love and Relationship and more</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
        <div class="service-box bg-white text-center">
          <div class="icon"> <i class="fas fa-bug"></i> </div>
          <div class="icon-text">
            <h4 class="title-box">Having a Problem</h4>
            <p>Talk to us lets us find a way out together</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
        <div class="service-box bg-white text-center">
          <div class="icon"> <i class="fas fa-comments"></i> </div>
          <div class="icon-text">
            <h4 class="title-box">Educative Forums</h4>
            <p>Lets learn all aspects of life; Financial planning, Love and Relationship and more</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
        <div class="service-box bg-white text-center">
          <div class="icon"> <i class="fas fa-paint-brush"></i> </div>
          <div class="icon-text">
            <h4 class="title-box">Artistic display</h4>
            <p>Are you an artist? come show your prowes in our lovely audience</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>




<!-- End Services -->
{%endblock%}
